[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
pandas = "*"
descartes = "*"
tornado = "==5.1.1"
geopandas = "*"
altair = "*"
vega = "*"

[dev-packages]

[requires]
python_version = "3.6"
